<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Expense Tracker</title>
    <link rel="stylesheet" href="../public/css/style-login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.2/axios.min.js" defer></script>
    <script src="../public/js/script-login.js" defer></script>
</head>
<body>
    <section class="left-section">
        <header>📝 Expense Tracker</header>

        <h1 id="log-in">Login</h1>
        <h2 id="your-account">To Get Back On Track</h2>
        <form id="form">
            <input type="email" name="email" id="email" placeholder="E-Mail" required>
            <input type="password" name="password" id="password" placeholder="Password" required>

            <div class="forgot-password"><a href="">Forgot Password?</a></div>

            <input type="submit" name="login" id="login" value="Login">
        </form>
        <div id="switch-page">Not A Member? <a href="file:///Users/sidver/Documents/JS/Expense%20Tracker/views/sign-in.html">Sign Up</a></div>
    </section>
    <section class="right-section">
        <img src="https://cdn.dribbble.com/users/23832/screenshots/17210928/media/a3cdcc9bc53301922f25aa677eaaf8dc.jpg" alt="">
    </section>
</body>
</html>