<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | Expense Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<body style="font-family: Poppins;">
    <div style='display: flex; justify-content: center; align-items: center;'>
        <div style='width: 65%;'>
            <p style='font-size: 2vw;'>
                Error! Link is inactive. Please generate a new link to reset your password by going back to the <a href='https://localhost:3000/views/login.html'>login page</a> and clicking on <strong>Forgot Password?</strong> once again.
            </p>
        </div>
    </div>
</body>
</html>