<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Expense Tracker</title>
    <link rel="stylesheet" href="../public/css/style-sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="left-section">
        <header>Expense Tracker</header>

        <h1 id="sign-into">Sign In</h1>
        <h2 id="your-account">To Create An Account</h2>

        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="text" name="phoneNo" id="phoneNo" placeholder="Phone No." required>
        <input type="text" name="email" id="email" placeholder="E-Mail" required>
        <input type="text" name="password" id="password" placeholder="Password" required>

        <form action="" class="remember-me">
            <input type="checkbox" name="remember-me" id="remember-me" value="1">
            <label for="remember-me">Remember Me</label><br>
        </form>

        <button type="submit" id="sign-in">Sign In</button>

    </section>
    <section class="right-section">
        <img src="https://cdn.dribbble.com/userupload/2715766/file/original-6ad219ce50d6ad70c476f00cd9a7246b.png?filters:format(webp)?filters%3Aformat%28webp%29=&compress=1&resize=2400x1800" alt="">
    </section>
</body>
</html>